.search-box-wrapper{

	display:inline-flex;
	font-size:20px;
}
.search-box-input{
	border: solid;
	border-radius:10px 10px 10px 10px ;
	border-color: #F7DC6F;
	margin-left:300px;
	padding-right:100px;
	margin-top:300px;
	width:300px;
	margin-left:470px;
	height:50px;



}
.search-box-input:hover,.search-box-input:focus{
	border-color:#A3E4D7;
}
.search-box-button{

	font-size:inherit;
	border:2px solid;
	border-radius:2px;
	border-color:#F4D03F;
	border-left:0;
	bottom: 20px;
	color: white;
	font-weight:bold;
	outline:0;
    padding-right: 30px;
	margin-top:300px;

}
#p{font-style:bold;
 color:white;
}
.search-box-button:hover,.search-box-input:focus{
	border-color:#A3E4D7;



}
body{
	background-image: url("cse.jpg");
	}
